.main__section--cart {
    width: 31.25rem;
    background-color: $backgroundhover;
    padding: 1.5rem;
    box-sizing: border-box;
    height: 100%;
    position: fixed;
    right: -200%;
    top: 6.9rem;
    box-shadow: $boxshadow;
    border-radius: 1rem;
    .main__cart--mainpic {
        width: 5rem;}
    h2 {
        width: 100%;
        text-align: center;
        font-size: 1.2rem;
        font-weight: 600;
        padding: 1.4rem 0;
        box-sizing: border-box;}
    div {
        border-bottom: .1rem solid #333;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: .9rem;
        box-sizing: border-box;
        flex-wrap: nowrap;
        p:nth-child(3) {
            font-weight: 600;}}   
    .main__cart--removeicon {
        @include smartphone {
            width: 1rem;
        }
        width: 1vw;}
    @include smartphone {
        width: 100%;
        padding: 2rem;
        height: 100%;
        top: 11rem;
        box-shadow: none;
        .main__cart--mainpic {
            width: 6rem;}
        h2 {
            font-size: 1.4rem;
            padding: 1rem 0;}
        div {
            justify-content: space-evenly;
        }    
        .main__cart--removeicon {
            width: 1rem;
        }
    }    
}